<!DOCTYPE html>
<html lang="en" data-theme="light" >
<head>
  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>


<div class="drawer lg:drawer-open">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Page content here -->
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <a class="btn btn-ghost text-xl">Pulumi Automation</a>
      </div>
    </div>
    <!-- <label for="my-drawer" class="btn btn-primary drawer-button">Open drawer</label> -->

    <div class="divider lg:divider-vertical"></div>
    
    <div id="content-container"></div>
  </div> 
  <div class="drawer-side">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-60 min-h-full bg-base-200 text-base-content">
      <!-- Sidebar content here -->
        <li><a hx-get="/gcp" hx-target="#content-container">GCP</a></li>
        <li><a hx-get="/gke" hx-target="#content-container">GKE</a></li>
        <li><a hx-get="/gke" hx-target="#content-container">Azure</a></li>
        <li><a hx-get="/gke" hx-target="#content-container">AKS</a></li>
        <li><a hx-get="/debug" hx-target="#content-container">Debug</a></li>

        <li><a hx-get="/settings" hx-target="#content-container">Settings</a></li>
        <input type="checkbox" value="dark" class="toggle theme-controller flex justify-content-end mt-4"/>

    
    </ul>        

  </div>
</div>

</body>
</html>

