<div class="flex w-full">
    <!-- <form action="/aws/job-queue" hx-post>
    <input type="text" placeholder="AWS Batch compute enviorment id" class="input input-bordered w-full max-w-xs" id="environment-id" />
    <button type="submit" class="btn btn-primary" id="compute-env-selection">Submit</button>
    </form> -->
    <div class="divider divider-horizontal"></div>
    <div class="stats shadow">
        <div class="stat">
            <div class="stat-title">Job Queue</div>
            <div class="stat-value" id="job-queue-status" hx-get="/aws/job-queue" hx-include="#current-choice" hx-trigger="every 50s, load,click from:#dropdown-menu">Unkown</div>
        </div>
    </div>
    <div class="divider divider-horizontal"></div>
    <div class="stats shadow">
        <div class="stat">
            <div class="stat-title" >Compute Enviornment</div>
            <div class="stat-value" id="compute-env-status" hx-get="/aws/compute-env" hx-trigger="every 50s, load, click from:#dropdown-menu">Unkown</div>
        </div>
    </div>
    <div class="divider divider-horizontal"></div>
    <div class="stats shadow">
        <div class="stat">
            <div class="stat-title">ECS Cluster</div>
            <div class="stat-value" id="compute-env-status" hx-get="/aws/ecs" hx-trigger="every 50s, load, click from:#dropdown-menu" >Unkown</div>
        </div>
    </div>
    <div class="divider divider-horizontal"></div>
    <div class="dropdown dropdown-hover">
        <div tabindex="0" role="button" class="btn m-1" >Compute enviornments</div>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
            hx-get="/aws/compute_envs/list" hx-swap="outer" hx-target="#dropdown-menu" hx-trigger="shown,load" id="dropdown-menu">
        </ul>
    </div>
</div>
<div class="divider divider-vertical"></div>
<div class="overflow-x-auto">
    <table class="table">

      <tbody hx-get="aws/jobs_table" hx-trigger="load">

      </tbody>
    </table>
  </div>
<div class="divider divider-vertical"></div>

<div class="collapse bg-base-200 shadow">
    <input type="checkbox" class="peer" /> 
    <div class="collapse-title text-xl font-medium bg-primary text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content">
      Autoscaling group
    </div>
    <div class="collapse-content" hx-get="/aws/autoscaling-group" hx-trigger="load, click from:#dropdown-menu"> 
    </div>
  </div>
  <div class="divider divider-vertical"></div>
  <div class="collapse bg-base-200 shadow">
    <input type="checkbox" class="peer" /> 
    <div class="collapse-title text-xl font-medium bg-primary text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content">
      Autoscaling group Activity
    </div>
    <div class="collapse-content"  hx-trigger="load, click from:#dropdown-menu"> 
    </div>
  </div>

  <div class="divider divider-vertical"></div>

<div role="tablist" class="tabs tabs-lifted">
    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Autoscaling grop Acitvity" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6"  id="running-jobs", hx-trigger="load, click from:#dropdown-menu">Tab content 1</div>
  
    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Tab 2" checked />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6" hx-get="/aws/job-queue/succeeded" hx-trigger="load, click from:#dropdown-menu">Tab content 2</div>
  
    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Tab 3" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6"hx-get="/aws/job-queue/runnable" hx-trigger="load, click from:#dropdown-menu">Tab content 3</div>
  </div>

  
</div>


<button class="btn btn-m" hx-get="/debug/compute-env" >Submit</button>

<script>
    const dropdown = document.querySelector('#dropdown-menu');
dropdown.addEventListener('click', (event) => {
    const selectedOption = event.target.innerText;
    const currentChoice = document.querySelector('#current-choice');
    currentChoice.innerText = selectedOption;
    
});
</script>