<div class="flex w-full">
    <!-- <form action="/aws/job-queue" hx-post>
    <input type="text" placeholder="AWS Batch compute enviorment id" class="input input-bordered w-full max-w-xs" id="environment-id" />
    <button type="submit" class="btn btn-primary" id="compute-env-selection">Submit</button>
    </form> -->
    <div class="divider divider-horizontal"></div>
    <div class="stats shadow">
        <div class="stat">
            <div class="stat-title">Job Queue</div>
            <div class="stat-value" id="job-queue-status" hx-get="/aws/job-queue" hx-params="current-env"  hx-include="#current-env" hx-trigger="every 50s, load,click from:#dropdown-menu">Unkown</div>
        </div>
    </div>
    <div class="divider divider-horizontal"></div>
    <div class="stats shadow">
        <div class="stat">
            <div class="stat-title" >Compute Enviornment</div>
            <div class="stat-value" id="compute-env-status" hx-get="/aws/compute-env" hx-trigger="every 50s, load, click from:#dropdown-menu">Unkown</div>
        </div>
    </div>
    <div class="divider divider-horizontal"></div>
    <div class="stats shadow">
        <div class="stat">
            <div class="stat-title">ECS Cluster</div>
            <div class="stat-value" id="compute-env-status" hx-get="/aws/ecs" hx-trigger="every 50s, load, click from:#dropdown-menu" >Unkown</div>
        </div>
    </div>
    <div class="divider divider-horizontal"></div>
    <div class="dropdown dropdown-hover">
        <div tabindex="0" role="button" class="btn m-1" id="current-env" >Compute enviornments</div>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-65"
            hx-get="/aws/compute_envs/list" hx-swap="inner" hx-target="#dropdown-menu" hx-trigger="shown,load" id="dropdown-menu">
        </ul>
    </div>
</div>
<div class="divider divider-vertical"></div>
<div class="overflow-x-auto">
    <table class="table">
      <tbody hx-get="aws/jobs_table" hx-trigger="load">
      </tbody>
    </table>
  </div>
<div class="divider divider-vertical"></div>



<div class="tabs tabs-boxed mx-auto ">
    <input type="radio" name="my_tabs_2" id="tab1" hx-get="/aws/autoscaling-group" role="tab" class="tab active" checked aria-label="Autoscaling group" hx-trigger="click,load" hx-target="#tab-content" hx-swap="innerHTML after .active" />
    <input type="radio" name="my_tabs_2" id="tab2" hx-get="/aws/ecs-cluster" role="tab" class="tab" aria-label="ECS Cluster"  hx-trigger="click" hx-target="#tab-content" hx-swap="innerHTML after .active" />
    <input type="radio" name="my_tabs_2" id="tab3" hx-get="/aws/cloudwatch/logs" role="tab" class="tab" aria-label="Cloudwatch" hx-trigger="click" hx-target="#tab-content" hx-swap="innerHTML after .active" />
    <input type="radio" name="my_tabs_2" id="tab4" hx-get="/aws/launch-template" role="tab" class="tab" aria-label="Launch template" hx-trigger="click" hx-target="#tab-content" hx-swap="innerHTML after .active" />
  </div>
  
  <div id="tab-content">
    <div class="flex w-full" id="tab-content-1">
    </div>
    <div class="flex w-full" id="tab-content-2">
    </div>
    <div class="flex w-full" id="tab-content-3">
    </div>
    <div class="flex w-full" id="tab-content-4">
    </div>
  </div>
</div>


<!-- <button class="btn btn-m" hx-get="/debug/compute-env" >Submit</button> -->

