
<div class="flex flex-col w-full lg:flex-row">
    <div class="grid flex-col h-60 card  rounded-box place-items-left">
        
        <button class="btn btn-primary btn-sm w-64" onclick="my_modal.showModal()" hx-get="/gcp/compute/minimal/preview" hx-target="#message-container">Infrastructure preview</button>
        <button class="btn btn-primary btn-sm w-64 " onclick="my_modal.showModal()" hx-get="/gcp/compute/minimal/up" hx-target="#message-container">Infrastructure up</button>
        <button class="btn btn-primary btn-sm w-64" onclick="my_modal.showModal()" hx-get="/gcp/compute/minimal/destroy" hx-target="#message-container">Infrastructure destroy</button>
        <button class="btn btn-primary btn-sm w-64" onclick="my_modal.showModal()" hx-get="/gcp/compute/minimal/destroy_stack" hx-target="#message-container">Infrastructure destroy_stack</button>
    </div> 
    
    <div class="divider lg:divider-horizontal"></div> 
    <div class="stats bg-ghost text-primary-content">
  
        <div class="stat">
          <div class="stat-title">Resources Created</div>
          <div class="stat-value"></div>
          <div class="stat-actions">    
          </div>
        </div>
            
      </div>
      <div class="stats bg-ghost text-primary-content">
  
        <div class="stat">
          <div class="stat-title">Errors</div>
          <div class="stat-value"></div>
          <div class="stat-actions">    
          </div>
        </div>
            
      </div>
      <div class="stats bg-ghost text-primary-content">
  
        <div class="stat">
          <div class="stat-title">Ouputs</div>
          <div class="stat-value"></div>
          <div class="stat-actions">    
          </div>
        </div>
            
      </div>
    
</div>
  

  <div class="grid flex-grow h-80 card bg-base-300 overflow-auto rounded-box place-items-center">
        
    <div id="message-container" hx:target.afterUpdate="my_modal.close()"></div>
    <dialog id="my_modal" class="modal">
        <div class="modal-box">
            <progress class="progress w-120"></progress>
        </div>
      </dialog>
</div>
<script>
    document.addEventListener('htmx:afterSwap', (event) => {
      if (event.detail.target.id === "message-container") {
        // Optionally add a timeout here for delayed closing:
        setTimeout(() => {
          my_modal.close();
        }, 50); // Adjust timeout as needed
      }
    });
</script>


