<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pulumi Automation</title>
</head>
<body>
  <h1>Automate app deployments</h1>
  <button hx-get="/get-message" hx-target="#message-container">Get Message</button>
  <div id="message-container"></div>
  <button hx-get="/gcp/compute/minimal/preview" hx-target="#message-container">Pulumi preview</button>
</body>
</html>

